form div label{
    display: inline-block;
    width: 100px;
}
form div{
    margin-bottom: 5px;
}

form div input{
    height: 30px;
    width: 300px;
}

input[type="submit"]{
    margin-left: 200px;
}
